@import "bootstrap";

.dog {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
	color: blue;
	margin-bottom: 20px;
}

img {
	text-align: center;
	width: 50%;
	height: auto;
}